gMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build*/
plugin/
*.meta
Assets/Plugins/
Assets/Scenes/
.DS_Store
.vs/
Library/
Packages/
ProjectSettings/
Temp/
*.sln
*.csproj
obj/

